:root{
    --bs-font-sans-serif: "monospace", sans-serif;
    --bs-blue: #2067F5;
    --bs-primary: #ff652f;
    --bs-secondary: #ff652f;
}
h1 ,h2, h3, h4, h5, h6{
    font-family: "monospace", sans-serif;
}